/*Main layout*/

body {
  height:100vh;
  font-family: 'Roboto Slab';
}

.main {
  display: flex;
  height: 50%;
  background-color: #E5F3F2;
  justify-content:center;
  align-items:center;
}

.search-section {
  display:flex;
  justify-content: center;
}

.card-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/*Content in .main*/

.main-content{
  padding-top: 5%;
}

h1 {
  font-size:3em;
  color:#6D6E71;
  margin-left: 35%;
}

span {
  color:#00A79D;
}

input {
  margin-top: 4%;
  font-size: 1.5em;
  width:100%;
}

.save-btn {
  width: 100%;
  margin-top: 30px;
  font-size: 1.5em;
  background-color: #00A79D;
  border: none;
  color: white;
  margin-bottom: 5%;
}
.save-btn:hover {
  background-color: #045E55;
}

/*Content in .search-section*/

.search-input {
  margin-top: 4%;
  width: 100%;
  margin-right: 250px;
  margin-bottom: 4%;
}

/*Content in .card-section*/

.idea-card {
  border-bottom: 1px solid #D1D3D4;
  height: 100%;
  width: 70%;
  padding: 10px;
  margin-bottom: 4%;
}

.li-title {
  color: #6D6E71;
  font-size: 35px;
}

.li-body {
  color: #939598;
  font-size: 25px;
}

.li-id {
  display: none;
}

#key-number {
  display: none;
}
