body {
  height:100vh;
  font-family: 'Roboto Slab';
}
/* Top box content */

.main {
  display: flex;
  height: 50%;
  background-color: #E5F3F2;
  justify-content:center;
  align-items:center;
}

h1 {
  font-size:3em;
  color:#6D6E71;
  margin-left: 35%;
}

span {
  color:#00A79D;
}


.main-content{
  padding-top: 5%;
}

input {
  margin-top: 4%;
  font-size: 1.5em;
  width:100%;
}

.save-btn {
  width: 100%;
  margin-top: 30px;
  font-size: 1.5em;
  background-color: #00A79D;
  border: none;
  color: white;
  margin-bottom: 5%;
}
.save-btn:hover {
  background-color: #045E55;
}

/* Bottom section content */

/*.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}*/


/*Generated Cards*/
.card-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

}

.search-input {
  margin-top: 4%;
  width: 100%;
  margin-right: 250px;
  margin-bottom: 4%;


}
.idea-card {
  border-bottom: 1px solid #D1D3D4;
  height: 100%;
  width: 70%;
  padding: 10px;
  margin-bottom: 4%;

}

.delete-btn {

}

.li-title {
  color: #6D6E71;
  font-size: 35px;
}

.li-body {
  color: #939598;
  font-size: 25px;
}

.li-id {
  display: none;
}

#key-number {
  display: none;
}
