/*Main layout*/

body {
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: flex;
  height: 50%;
  background-color: #E5F3F2;
  justify-content:center;
  align-items:center;
}

.search-section {
  display:flex;
  justify-content: center;
}

.card-section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

/*Content in .main*/

.main-content{
  padding-top: 5%;
}

h1 {
  font-family: 'Roboto Sans';
  font-weight: 700;
  font-size:3em;
  color:#6D6E71;
  margin-left: 35%;
}

span {
  color:#00A79D;
}

input {
  font-family: 'Open Sans';
  margin-top: 4%;
  font-size: 1.5em;
  width:100%;
}

.save-btn {
  font-family: 'Open Sans';
  width: 100%;
  margin-top: 30px;
  font-size: 1.5em;
  background-color: #00A79D;
  border: none;
  color: white;
  margin-bottom: 5%;
}
.save-btn:hover {
  background-color: #045E55;
}

/*Content in .search-section*/

.search-input {
  margin-top: 4%;
  width: 100%;
  margin-right: 250px;
  margin-bottom: 4%;
}

/*Content in .card-section*/

.idea-card {
  border-bottom: 2px solid #D1D3D4;
  width: 65%;
  padding: 10px;
  margin-bottom: 4%;
  font-family: 'Open Sans';
}

/*.bookmark {
  margin: 5%;
  border: 2px solid #607D8B;
  width: 90%;
  background-color: white;
}*/
li {
  padding:10px;
  font-family: 'Open Sans';
}

.li-title {
  display:inline-block;
  color: #6D6E71;
  font-weight:700;
  font-size: 1.5em;
}

.delete-btn {
  float:right;
}

.li-body {
  color: #939598;
}

.li-id {
  display: none;
}

.li-quality{
  display:inline-block;
  color: #6D6E71;
}

.up-btn {
  margin-left: 10px;
  margin-right: 15px;
}

#key-number {
  display: none;
}
